{% extends "base_generic.html" %}

{% block header %}

{{ map.header.render|safe }}

{% endblock %}

{% block content %}

    <h1>Route: {{ route.name }}</h1>

    <p><strong>Length:</strong> {{ route.length }} km</p>
    <p><strong>Province:</strong> {{ route.province }}</p>
    <p> {{ map.html.render|safe }} </p>
    <script>
        {{ map.script.render|safe }}
    </script>

    {% for comm in route.routecomment_set.all %}
        <hr>
        <p><strong> {{ comm.author }}, {{ comm.date|date:'d-m-Y' }}</strong> </p>
        <p> Score: {{ comm.score }} </p>
        <p> {{ comm.comment }} </p>
    {% endfor %}

    {% for photo in route.routephoto_set.all %}
        <hr>
        <img class="detail_foto" src="{{ photo.image.url }}" alt="connect">
        <p> {{ photo.image }} </p>
        <p> {{ photo.comment }} </p>
    {% endfor %}   

    <p><a href="{% url 'create-route-comment' route.id %}">New comment</a></p>
    <p><a href="{% url 'add-image' route.id %}">New photo</a></p>
    <p></p>
{% endblock %}
