{% extends "base_generic.html" %}

{% block content %}
    <form action="" method="post">
       {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}

        <div class="mb-3">
            <label for="idEmail" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="idEmail">
        </div>
        <input type="submit" class="btn btn-lg btn-primary" value="Reset password">
    </form>
{% endblock %}