.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.header_image img {
    width: 100%;
    height: auto;
}

.titel {
    color: darkolivegreen;
    text-align: center;
}

.list_options {
    list-style-position: inside;
}

.totals {
    text-align: center;
    background-color: darkolivegreen;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

.routes {
    border-style: solid;
}

.polaroid {
    width: 100%;
    margin-top: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.index_foto {
    max-width: 100%;
    height: auto;
}

.subscription {
    text-align: center;
    padding: 10 px 20px;
    padding-bottom: 10px;
}

.button_extra {
    background-color: darkolivegreen;
}

.button_extra:hover {
    background-color: green;
}

.detail_foto {
    max-height: 500px;
    width: auto;
}

.route-list {
    width: 100%;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}

.comment {
    width: 100%;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}

.list-header {
    font-weight: bold;
}